BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
IndentWidth: 4
SortIncludes: false
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Attach
IndentCaseLabels: false
